astroid==2.3.3
autopep8==1.4.4
certifi==2019.11.28
chardet==3.0.4
idna==2.8
influxdb==5.2.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
qmc5883l==0.92
requests==2.22.0
rope==0.16.0
RPi.GPIO==0.7.0
six==1.13.0
smbus==1.1.post2
systemd==0.16.1
urllib3==1.25.7
wrapt==1.11.2
